* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #87CEFA;
}

body {
  background-color: #87CEFA;
}

.winfo {
  background: #B0C4DE;
}

.indivSpot {
  border: 1px dashed black;
  margin-bottom: 20px;
  background: #B0C4DE;
}

.person {
  float: left;
}

.writer {
  float: left;

}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
}

.gimages {
  border: .1px solid black;
}

.repos {
  text-decoration: underline;
}

.logo {
  display: flex;
  font-size: 40px;
  background: #B0C4DE;
  padding: inherit;
}

.genre {
  text-decoration: underline;
}

.collapse {
  background: #B0C4DE;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}

.nav {
  padding-left: 350px;
  background: #B0C4DE;
}

.nav-item {
  border: .5px solid black;
  margin-left: 1px;
  display: flex;
  align-items: center;
  background: #B0C4DE;
}

.nav-link:hover {
  background: grey;
  padding: auto;
}

.welcome {
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.para {
  text-align: center;
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

.ipara {
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}

.genre-object {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.printT {
  margin-left: 20px;
}

.footer {
  background-color: #B0C4DE;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incomplete {
  color: red;
  background: #87CEFA;
}
